<h1>Angular richiesta HTTP basica</h1>

<button (click)="getData();mostra();" id="bottone1">Get data</button>

<!-- <div *ngFor="let data of data | async">
  {{ data | json }}
</div> -->

<table hidden id="tabella" class="table table-striped">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Id</th>
            <th>Title</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let campo of data | async">
            <td>{{ campo.userId }}</td>
            <td>{{ campo.id }}</td>
            <td>{{ campo.title }}</td>
            <td>{{ campo.body }}</td>
        </tr>
    </tbody>
</table>



<!-- <button (click)="createData()">Create data</button>
{{ newData | async | json }} -->